.edition-container {
    padding: 0 120px;
}
.prev-edition {
    position: relative;
    padding: 5rem 0;
    overflow: hidden;
}
.prev-edition .heading {
    background-image: url('../images/intro-bottom-banner.svg');
    background-repeat: no-repeat;
    background-size: 98%;
    background-position: 100% 50%;
    position: relative;
    margin-bottom: 2rem;
}
.prev-edition .heading .header-img {
    display: none;
}
:lang(ar) .prev-edition .heading .header-img {
    display: block;
    position: absolute;
    top: 60px;
    left: 74px;
    transform: scale(-1);
    z-index: -1;
    width: auto !important;
    height: auto;
}
:lang(ar) .prev-edition .heading {
    background-image: unset;
}
.prev-edition .heading h1 {
    font-size: 4rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
.prev-edition .heading img {
    transform: scaleX(-1);
    margin-inline-end: -70px;
    margin-inline-start: -16px;
}
:lang(ar) .prev-edition .heading img {
  transform: scaleX(1);
}
.prev-edition .pages-head-shape {
    position: absolute;
    top: 184px;
    right: 0;
    left: 23%;
    width: 100%;
    transform: scale(1.2, 1.8);
    z-index: -1;
}

.prev-edition .prev-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.prev-edition .prev-content .intro-img {
    width: 50%;
    max-width: 50%;
    height: 540px;
    border-radius: 2.5rem;
    overflow: hidden;
}
.prev-edition .prev-content .intro-img img {
    width: 100%;
    height: 100%;
}
.prev-edition .prev-content .into-text {
    flex: 1;
}
.prev-edition .prev-content .into-text .desc {
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-family: RB;
    margin-bottom: .5rem;
    overflow-wrap: anywhere;
}

.key-figures {
    padding: 1rem 0;
}
.key-figures .row {
    padding: 0 120px;
}

.key-figures .figures-heading {
    background-image: url('../images/qa-pattern.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 100% 50%;
}
:lang(ar) .key-figures .figures-heading {
    background-position: 1% 50%;
}
.key-figures .figures-heading .figures-heading-container {
    padding: 0 120px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.key-figures .figures-heading h2 {
    font-size: 3rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    font-family: RB;
}

.key-figures .figures-forums {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
}

.key-figures .figures-forums.ar-lang {
    display: none;
}
:lang(ar) .key-figures .figures-forums.ar-lang {
    display: grid;
}
:lang(ar) .key-figures .figures-forums.en-lang {
    display: none;
}

.key-figures .figures-forums .figures-forums-item {
    padding: 1rem;
    border-radius: 2rem;
    background-color: rgb(0 72 117 / 94%);;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    min-width: 308px;
}
.key-figures .figures-forums .figures-forums-item .icon-container i{
    font-size: 2.625rem;
    color: rgba(255, 255, 255, 1);
}

.key-figures .figures-forums .figures-forums-item .icon-container {
    padding: 1rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.key-figures .figures-forums .figures-forums-item .icon-container img {
    width: 2.625rem;
    height: 2.625rem;
}
.key-figures .figures-forums .figures-forums-item .item-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.key-figures .figures-forums .figures-forums-item .item-text .count {
    font-size: 2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
.key-figures .figures-forums .figures-forums-item .item-text .count .unit {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
.key-figures .figures-forums .figures-forums-item .item-text .desc {
    font-size: 0.875rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    overflow-wrap: anywhere;
}

.key-figures .second-figures-forums {
    margin-top: 2rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.key-figures .second-figures-forums.ar-lang {
    display: none;
}
:lang(ar) .key-figures .second-figures-forums.ar-lang {
    display: grid;
}
:lang(ar) .key-figures .second-figures-forums.en-lang {
    display: none;
}
.key-figures .second-figures-forums .figures-forums-item {
    padding: 1rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.key-figures .second-figures-forums .figures-forums-item .icon-container {
    padding: 1rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.key-figures .second-figures-forums .figures-forums-item .icon-container img {
    width: 2.625rem;
    height: 2.625rem;
}
.key-figures .second-figures-forums .figures-forums-item .item-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.key-figures .second-figures-forums .figures-forums-item .item-text .count {
    font-size: 2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
.key-figures .second-figures-forums .figures-forums-item .item-text .count .currency {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}
.key-figures .second-figures-forums .figures-forums-item .item-text .count .num {
    font-size: 40px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
.key-figures .second-figures-forums .figures-forums-item .item-text .count .unit {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
.key-figures .second-figures-forums .figures-forums-item .item-text .desc {
    font-size: 0.875rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    overflow-wrap: anywhere;
}

.key-figures .third-figures-forums {
    margin-top: 2rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.key-figures .third-figures-forums.ar-lang {
    display: none;
}
:lang(ar) .key-figures .third-figures-forums.ar-lang {
    display: grid;
}
:lang(ar) .key-figures .third-figures-forums.en-lang {
    display: none;
}

.key-figures .third-figures-forums .figures-forums-item {
    padding: 1rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.key-figures .third-figures-forums .figures-forums-item .icon-container {
    padding: 1rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.key-figures .third-figures-forums .figures-forums-item .icon-container img {
    width: 2.625rem;
    height: 2.625rem;
}

.key-figures .third-figures-forums .figures-forums-item .item-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.key-figures .third-figures-forums .figures-forums-item .item-text .count {
    font-size: 2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
.key-figures .third-figures-forums .figures-forums-item .item-text .count .currency {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}
.key-figures .third-figures-forums .figures-forums-item .item-text .count .num {
    font-size: 40px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
.key-figures .third-figures-forums .figures-forums-item .item-text .count .unit {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
.key-figures .third-figures-forums .figures-forums-item .item-text .desc {
    font-size: 0.875rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    overflow-wrap: anywhere;
}

.key-figures .download-link-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 80px;
    padding-inline-start: 2rem;
}
.key-figures .download-link-container.ar-lang {
    display: none;
}
:lang(ar) .key-figures .download-link-container.ar-lang {
    display: flex;
}
:lang(ar) .key-figures .download-link-container.en-lang {
    display: none;
}
.key-figures .download-link-container .icon-container {
    padding: 1rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.key-figures .download-link-container .icon-container img {
    width: 28px;
    height: 29px;
}

.key-figures .download-link-container .download-link {
    font-size: 20px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    text-decoration: underline;
}

/* Gallery */
.gallery-container {
    margin: 80px 0;
}

.thumbnails {
    max-height: 842px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    transition: scroll 0.5s ease;
}

.gallery-container .thumbnails::-webkit-scrollbar {
    display: none;
} 

.thumbnail-img {
    border: 3px solid transparent;
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 16px;
    transition: 0.3s;
}

.thumbnail-img:hover, .thumbnail-img.active {
    border-color: rgba(255, 158, 42, 1);
}
.gallery-container .img-full {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 842px;
    position: relative;
}
.main-image {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    transition: opacity 0.3s ease;
}
.main-image.fade-out {
    opacity: 0;
    position: absolute;
}


@media (max-width: 767px) {
    :lang(ar) .prev-edition .heading .header-img {
        width: -webkit-fill-available !important;
        top: 92px;
    }
    .key-figures .download-link-container {
        padding-inline-start: 0;
    }
    .gallery-container .thumbnails {
        display: flex;
        flex-direction: row;
        /* gap: 1rem; */
        max-height: none;
        overflow-x: auto;
        overflow-y: hidden;        
        margin-bottom: 1rem;
    }
    
    .gallery-container .thumbnail-img {
        width: 100px;
        height: 80px;
        margin-bottom: 0;
        flex-shrink: 0;
        border-radius: 16px;
    }
    .gallery-container .main-image {
        border-radius: 16px;
    }
}
@media (max-width: 991px) {
    .prev-edition .prev-content .intro-img {
        width: 100%;
        max-width: 100%;
        height: 500px;
    }
    .prev-edition .heading h1 {
        font-size: 3rem;
    }
    .prev-edition .heading img {
        height: 220px;
    }
    .prev-edition .prev-content .intro-img {
        width: 100%;
        max-width: 100%;
        height: 468px;
    }
    .prev-edition .prev-content .into-text .desc {
        font-size: 1rem;
    }
    .key-figures .row,
    .edition-container {
        padding: 0 1rem;
    }
    .key-figures .figures-heading {
        background-size: 80%;
    }
    .key-figures .figures-heading .figures-heading-container{
        padding: 0 1rem;
    }

    .key-figures .figures-forums {
        grid-template-columns: repeat(1, 1fr);
    }
    .key-figures .second-figures-forums {
        grid-template-columns: repeat(1, 1fr);
    }
    .key-figures .third-figures-forums {
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery-container .thumbnail-img {
        border-radius: 16px;
    }
    .gallery-container .main-image {
        border-radius: 16px;
    }
}
@media (min-width: 992px) {
    :lang(ar) .prev-edition .heading .header-img {
        width: -webkit-fill-available !important;
        top: 84px;
    }
    .key-figures .row,
    .edition-container {
        padding: 0 50px;
    }
    .key-figures .figures-heading .figures-heading-container {
        padding: 0 50px;
    }
    .key-figures .figures-forums {
        grid-template-columns: repeat(2, 1fr);
    }
    .key-figures .second-figures-forums {
        grid-template-columns: repeat(2, 1fr);
    }
    .key-figures .third-figures-forums {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery-container .thumbnail-img {
        border-radius: 16px;
    }
    .gallery-container .main-image {
        border-radius: 16px;
    }
}
@media (min-width: 1200px) {
    .key-figures .figures-forums {
        grid-template-columns: repeat(2, 1fr);
    }
    .key-figures .second-figures-forums {
        grid-template-columns: repeat(2, 1fr);
    }
    .key-figures .third-figures-forums {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery-container .thumbnail-img {
        border-radius: 20px;
    }
    .gallery-container .main-image {
        border-radius: 20px;
    }
}

@media (min-width: 1400px) {
    :lang(ar) .prev-edition .heading .header-img {
        top: 74px;
    }
    .prev-edition .prev-content .into-text .desc {
        font-size: 1rem;
    }
    :lang(ar) .prev-edition .prev-content .into-text .desc {
        font-size: 1rem;
    }
    .key-figures .figures-forums {
        grid-template-columns: repeat(4, 1fr);
    }
    .key-figures .second-figures-forums {
        grid-template-columns: repeat(4, 1fr);
    }
    .key-figures .third-figures-forums {
        grid-template-columns: repeat(3, 1fr);
    }
}







