.media-card {
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;
    padding: 20px 21px;
    margin-bottom: 32px;
}

.media-card .news-card-img {
    width: 250px;
    min-width: 250px;
    height: 200px;
    min-height: 200px;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-card .news-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.media-card .news-card-content .news-card-head {
    flex-wrap: nowrap;
}
.media-card .news-card-content .news-card-head a {
    font-size: 20px;
    font-weight: 700;
    color: rgba(15, 69, 114, 1);
    text-decoration: none
}

.media-card .news-card-content .news-card-head .news-date {
    font-size: 14px;
    font-weight: 400;
    color: rgba(109, 113, 117, 1);
    min-width: fit-content;
}

.media-card .news-card-content .news-card-foot {
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
}

.media-card .news-card-content .news-card-foot .file-download-wrapper {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(249, 250, 251, 1);
    border-radius: 6px;
    padding: 12px;
    border: 1px solid rgba(211, 211, 211, 1);
}

.media-card .news-card-content .news-card-foot .file-download-wrapper .file-title {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.media-card .news-card-content .news-card-foot .file-download-wrapper .file-title .icon-container {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(255, 250, 235, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-card .news-card-content .news-card-foot .file-download-wrapper .file-title .title {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(31, 42, 55, 1);
}

.media-card .news-card-content .news-card-foot .file-download-wrapper .download-btn {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: rgba(15, 69, 114, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-card .news-card-content .news-card-foot .social-links {
    gap: 1rem;
}

.media-card .news-card-content .news-card-foot .social-links p {
    margin: 0;
    font-size: 12px;
    color: rgba(109, 113, 117, 1);
}

@media (max-width: 576px) {
    .media-card,
    .media-card .news-card-content .news-card-head {
        flex-wrap: wrap;
    }
    
    .media-card .news-card-content .news-card-foot .file-download-wrapper {
        width: 100%;
    }
    .media-card .news-card-img {
        width: 100%;
        min-width: 100%
    }
}

.media-center-guide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
@media (max-width: 576px) {
    .media-center-guide {
        grid-template-columns: 1fr;
    }
}
.media-center-guide a {
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: rgba(20, 68, 113, 1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-center-guide a span {
    position: relative;
    font-size: 28px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}
.media-center-guide a span .pages-title-shape {
    height: 47px;
    width: 29px;
    top: 50%;
    inset-inline-start: -26px;
    transform: scaleX(-1) translateY(-50%);
}

html:dir(rtl) .media-center-guide a span .pages-title-shape {
    transform: scaleX(1) translateY(-50%);
}
